In [ ]:
list = [2, 3, 6]
y = 1
for i in list:
  y = y * i
print(y)

In [ ]:
list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
for i in range (0, len(list)):
  for j in range (len(list) - 1):
    if list[j][1] > list[j+1][1]:
      temp = list[j]
      list[j] = list[j + 1]
      list [j + 1] = temp
  print (list)

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3 = {}
for key in d1:
  if key in d2:
    new_value = d1[key] + d2[key]
  else:
    new_value = d1[key]
  d3[key] = new_value
for key in d2:
  if key not in d1:
    new_value = d2[key]
    d3[key] = new_value
print(d3)

In [ ]:
d = {}
for i in range(1, 9):
  d[i] = i*i
print(d)

In [ ]:
list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')] 
for i in list:
  for j in range (len(list) - 1):
    if float(list[j][1]) < float(list[j+1][1]):
      temp = list[j]
      list[j] = list[j + 1]
      list [j + 1] = temp 
  print (list)